<header class="header">
	<div class="header__content ">
		<div class="site-logo header__site-logo">
			<img class="site-logo__image" src="img/logo.png" alt="">
		</div>
		<button class="icon-menu btn btn--secondary">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<div class="navbar header__navbar">
			<ul class="navbar__wrapper">
				<li class="navbar__item active">
					<a href="#" class="navbar__link">Home</a>
				</li>
				<li class="navbar__item ">
					<a href="about-us.html" class="navbar__link">About Us</a>
				</li>
				<li class="navbar__item">
					<a href="#" class="navbar__link">All services</a>
				</li>
				<li class="navbar__item ">
					<a href="#" class="navbar__link">Prices</a>
				</li>
				<li class="navbar__item ">
					<a href="#" class="navbar__link">Areas we cover</a>
				</li>
				<li class="navbar__item">
					<a href="#" class="navbar__link">Blog</a>
				</li>
				<li class="navbar__item">
					<a href="contacts.html" class="navbar__link">Contact</a>
				</li>
			</ul>
		</div>
		<div class="header__callback">
			<a href="tel:02080595259" class="btn btn--secondary">020 8059 5259</a>
		</div>
	</div>
</header>