 <head>
	<title>Emergency Locksmith 24 hour | Locksmith near me | Call us 02080595259</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<meta name="description" content="24 hours emergency locksmith services in UK. Contact us for door unlocking, lock repair & replacement. ✅ 02080595259" />
	<link rel="stylesheet" href="css/style.min.css">
	<link rel="shortcut icon" href="favicon.ico">
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-site-verification" content="yQZwEgJKtchSu2YntpnEMzvkvo_up90QhuucnB0s0Zo" />
</head>