.testimonial {
    background: #F4F4F4;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
    &__header {
        display: flex;
        font-size: 18px;
        margin-bottom: 15px;
    }
    &__author {
        font-weight: 600;
        color: black;
        margin-right: 20px;
    }
    &__date {
        color: #686868;
    }
    &__body {
        color: #434343;
        line-height: 20px;
    }
}


.location {
    &__name {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 600;
    }
    &__district {
        margin-top: 17.5px;
    }
    &__district-name {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    &__towns {
        padding-left: 15px;
    }
    &__town {
        & + & {
            padding-top: 10px;
        }
    }
    &__link {
        color: black;
        transition: all .3s ease 0s;
        &:hover {
            color: $color-primary;
        }
    }
}

.back-to-top {
	position: fixed;
	right: 1%;
	bottom: -7.5%;
	height: 15px;
	width: 40px;
	padding: 3px 5px;
	font-size: 10px;
	font-weight: bold;
	color: transparent;
	opacity: 0.5;
	z-index: 3;
	visibility: hidden;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.25s ease-in-out;
	background-color: #858585;

	&:hover,
	&:focus {
		opacity: 1;
		text-decoration: none;
	}

	&:focus {
		outline: thin dotted;
	}
}

.back-to-top::before,
.back-to-top::after {
	content: '';
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top: 0;
}

.back-to-top::before {
	top: -20px;
	z-index: 4;
	border-bottom: 20px solid #858585;
}

.back-to-top::after {
	bottom: 0;
	z-index: 5;
	border-bottom: 20px solid #505050;
}

.back-to-top:hover,
.back-to-top:focus {
	height: 40px;
	color: #212223;
}

.show-back-to-top {
	display: block;
	bottom: 1.25%;
	visibility: visible;
}

.breadcrumbs {
    &__item {
        display: inline-block;
        &::after {
            content: "/";
        }
        &:last-child:after {
            display: none;
        }

        a {
            color: black;
        }
    }
}

.page-header {
    &__wrapper {
        text-align: center;
    }

    &__title {
        font-size: 40px;
        font-weight: 600;
        line-height: normal;
    }

    &__breadcrumbs {
        margin-top: 15px;
        a {
            color: white;
        }
    }
    
}


.contacts {
    &__title {
        text-transform: uppercase;
        font-size: 19px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    &__link {
        display: block;
        color: black;
    }
    &__item {
        margin-bottom: 30px;
    }

}

.contact-form {
    &__line-text-input {
        position: relative;
        display: block;
        &:after {
            content: "";
            position: absolute;
            width: calc(100% - 50px);
            left: 25px;
            bottom: 13px;
            display: block;
            height: 1px;
            background: #CECECE;
        }
        & .input {
            background: #EDEDED;
            border-radius: 60px !important;
            padding: 15px 25px;
        }
    }
    &__input {
        display: block;
        border: 2px solid #FF8E26;
        border-radius: 15px !important;
        padding: 12px 25px;
        color: #BBB;
        font-weight: 900;
        text-align: center;
        width: 100%;
        
    }
    textarea {
        max-height: 100px;
        min-height: 100px;
        max-width: 100%;
        min-width: 100%;
        resize: none;
    }
    &__submit {
        width: auto;
        font-size: 14px;
        margin-top: 10px;
    }
}

.interactive-map {
    &__map {
        width: 70%;
        height: 600px;
        display: block;
        margin: 15px auto;

        @media (max-width: $md2+px) {
            width: 100%;
        }
    }
    
}

.map-district-path {
    stroke: white;
    stroke-width: 1px;
    fill: $color-primary;
}

.map-district-name {
    fill: $color-secondary;
    
        
}
