//====================================================================================================

//====================================================================================================

.footer {
    padding-bottom: 0;
    &__content{
        padding: 15px;
    }
    a {
        color: black;
    }

}

.footer-logo__img{
    max-width: 475px;
    max-height: 50px;
    @media (max-width: $md2+px) {
        max-width: 100%;
    }
    @media (min-width: $md3+px) {
        width: 350px;
    }
}

.footer-info{
    & p {
        font-weight: 600;
        font-size:15px;
        line-height: 29px;
    }
    @media (max-width: $md3+px){
        text-align: center;
    }
    @media (max-width: $md2+px){
        text-align: center;
    }
}

.footer-adress{
    & p {
        font-weight: 600;
        font-size:15px;
        text-align:center;
    }
    & a {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 600;
        font-size:15px;
    }
    @media (max-width: $md3+px){
        text-align: center;
    }
    
}


.sitemap-a{
    padding-top: 30px;
}

.footer-services{
    @media  (max-width: $md2+px) {
    display: none;
    }
    @media (max-width: $md3+px){
        text-align: center;
    }
}