//====================================================================================================

//====================================================================================================


//Burger
.icon-menu {
	display: none;
	@media (max-width: $md2+px) {
		display: block;
		position: absolute;
		top: 15px;
		right: 12px;
		width: 50px;
		height: 35px;
		cursor: pointer;
		z-index: 9;
		padding: 0 !important;
		border-radius: 5px;
		transition: all .3s ease 0s;
		span {
			transition: all .3s ease 0s;
			top: calc(50% - 1px);
			left: 10px;
			position: absolute;
			width: 60%;
			height: 2px;
			background-color: #565656;
			&:first-child {
				top: 9px;
			}
			&:last-child {
				top: auto;
				bottom: 8px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
			right: calc(12px + 70%);
		}
	}
}

.header {
	border-bottom: 2px solid #000000;
	@media (max-width: $md2+px) {
		height: 70px;
	}
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px;
		@media (max-width: $md2+px) {
			height: 100%;
		}
	}
	&__site-logo {
		position: relative;
		@media (min-width: $md4+px) {
			top: -5px;
		}
	}
	&__callback {
		@media (max-width: $md1+px) {
			display: none;
		}
	}
	&__navbar {
		align-items: center;
		display: flex;
		@media (max-width: $md2+px) {
			position: absolute;
			width: 70%;
			background: #F4F4F4;
			height: 100%;
			top: 0;
			right: -70%;
			padding: 15px 0;
			transition: all .3s ease 0s;
		}
		&._active {
			right: 0;
		}
		.navbar__item:hover .navbar__link {
			color: $color-primary;
		}
	}
}

.site-logo {
	.site-logo__image {
		max-height: 50px;
		@media (max-width: $md2+px) {
			max-width: 100%;
		}
		@media (min-width: $md2+px) {
			width: 350px;
		}
	}
}

.navbar {
	&__link{
		font-size: 15px;
		white-space: nowrap;
		font-weight: 700;
	}
	&__wrapper {
		display: flex;

		@media (max-width: $md2+px) {
			flex-direction: column;
		}
	}
	&__item {
		padding: 10px 10px;
		text-transform: uppercase;
		line-height: 22px;
		&.active .navbar__link {
			color: $color-primary;
			font-weight: 600;
		}
		& + & {
			@media (min-width: $md2+px) {
				// border-left: 1px solid #E0E0E0;
			}
		}
	}
	&__link {
		transition: all .3s ease 0s;
		color: black;
	}
}