//====================================================================================================

//====================================================================================================

.welcome-block {

    background-image: url(/img/banner-img.jpg) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &::before{
        content: "";
        position: absolute; 
        // top: 84px;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.748); 
        opacity: 0.3;
        height: 100%;
        z-index: 1;
        display: block;

    }

    &__wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 130px 15%;
        z-index: 20;
        position: relative;
    }
    // &__background {
    //     position: absolute;
    //     z-index: -1;
    //     width: 100%;
    //     right: 0;
    //     bottom: 0;
    //     & img {
    //         max-width: 100%;
    //     }
    //     @media (max-width: $md2+px) {
    //         width: 60%;
    //     }
    // }
    &__title {
        font-weight: bold;
        font-size: 45px;
        line-height: 53px;
        margin-bottom: 50px;
        text-align: center;
        color: #fff;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 50px;
        flex-wrap: wrap;
    }
    &__item {
        background: rgb(255, 143, 38);
        border-radius: 5px;
        color: #fff;
        font-weight: 900;
        font-size: 19px;
        line-height: 21px;
        padding: 20px 25px;
        margin: 0 5px;
        @media (max-width: $md2+px) {
            margin: 0;
            width: 100%;
            & + & {
                margin-top: 10px;
            }
        }
    }
}

.services {
    & .block-title {
        display: flex;
        justify-content: center;
        color: #fff;
        font-weight: 600;
    }
    &__items {
        display: flex;
    }
    &__item {
        color: #fff;
        font-size: 22px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        &:before {
            content: "";
            width: 30px;
            height: 30px;
            margin-right: 7.5px;
            background-image: url(../img/icons/checked.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

.testimonials {
    padding: 80px 0;
    position: relative;
    &__items {
        display: flex;
        flex-direction: row;
    }

    & .testimonial{
        background: $color-grey;
    }
    &__item {
        
        // width: 50%;
        // position: relative;
        // @media (max-width: $md2+px) {
        //     padding-left: 25px;
        //     margin-left: 13px;
        //     width: 100%;
        //     padding-right: 15px;
        // }
        // &:nth-child(2n) {
        //     @media (min-width: $md2+px) {
        //         padding-right: 40px;
        //         &:before {
        //             right: -15.5px;
        //         }
        //     }
        // }
        // &:nth-child(2n+1) {
        //     @media (min-width: $md2+px) {
        //         padding-left: 40px;
        //         // margin-left: 50%;
        //         // &:before {
        //         //     left: -20px;
        //         // }
        //     }
        // }
        // & + & {
        //     margin-top: 45px;
        // }
    }
    @media (max-width: $md2+px) {
        margin: 0 30px;
    }
}

.callback-block {
    padding: 60px 0;

    & .callback-block__text{
        color:#fff;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: $md2+px) {
            text-align: center;
            justify-content: center;
        }
    }
    &__text {
        font-weight: 900;
        font-size: 25px;
        padding-right: 15px;
        @media (max-width: $md2+px) {
            font-size: 20px;
            width: 100%;
            padding-right: 0;
            margin-bottom: 15px;
        }
    }
    &__form-wrapper {
        flex: 1;
    }
    &__form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: $md2+px) {
            & .callback-block__input {
                margin-bottom: 15px;
                margin-right: 0;
            }
            flex-direction: column;
            align-items: center;
        }
    }
    &__input {
        background: #FFFFFF;
        border-radius: 60px !important;
        width: auto;
        text-transform: uppercase;
        color: #000;
        padding: 15px 40px;
        text-align: center;
        font-size: 16px;
        margin-right: 15px;
        @media (max-width: $md2+px) {
            margin-bottom: 15px;
            margin-right: 0;
        }
        @media (min-width: $md2+px) and (max-width: $md1+px) {
            width: 40%;
        }
    }
    &__submit {
        color: #fff;
        padding: 15px 40px;
        @media (min-width: $md2+px) and (max-width: $md1+px) {
            width: 20%;
        }
    }
}

.locations-block {
    &__items {
        padding: 50px 0;
        @media (max-width: $md2+px) {
            padding: 30px 10%;
        }
    }
    &__item {
        margin-bottom: 25px;
    }
}

h2{
    line-height:40px;
  }


.map-block {
    position: relative;
    padding: 50px 0;
    &__map-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @media (max-width: $md2+px) {
            position: static;
            height: 500px;
        }
    }
    &__contacts {
        background: white;
        padding: 35px 25px;
        box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        width: 40%;
        @media (max-width: $md2+px) {
            width: 100%;
            box-shadow: none;
            padding: 35px 0;
        }
    }
    &__title {
        font-size: 23px;
        font-weight: 900;
    }
    &__content {
        padding: 25px 0;
        & p {
            margin-bottom: 15px;
        }
        & a {
            color: black;
        }
    }
    @media (max-width: $md2+px) {
        padding-bottom: 0;
    }
}



.content-more {
    &__content {
        overflow: hidden;
        -webkit-transition: max-height .5s, padding .5s;
        transition: max-height .5s, padding .5s;
        padding-bottom: 50px;
    }
    &__wrapper {
        position: relative;
        &--opened {
            .content-more__more-icon {
                transform: rotate(-180deg);
            }
        }
    }
    &__more {
        display: flex;
        height: 80px;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgb(255, 255, 255) 30%, rgba(255,255,255,0) 100%);
        cursor: pointer;
    }
    &__more-icon {
        width: 40px;
        img {
            width: 100%;
        }
    }
}