
//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Montserrat";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$color-primary: #FF8E26;
$color-secondary: #456DFE;
$color-grey: #C4C4C4;
$color-dark: #e26d00;
//</ПЕРЕМЕННЫЕ>===========================================================================================================